<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h4 class="afm-label-text">First Name</h4>
      <input
        class="input-box"
        type="text"
        pInputText
        [(ngModel)]="user.firstName"
      />
    </div>
    <div class="col mt-md-0 mt-4">
      <h4 class="afm-label-text">Last Name</h4>
      <input
        class="input-box"
        type="text"
        pInputText
        [(ngModel)]="user.lastName"
      />
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h4 class="afm-label-text">Email Id</h4>
      <input
        class="input-box"
        type="text"
        pInputText
        [(ngModel)]="user.emailId"
      />
    </div>

    <div class="col mt-md-0 mt-4">
      <h4 class="afm-label-text">Mobile Number</h4>
      <input
        class="input-box"
        type="text"
        pInputText
        [(ngModel)]="user.mobileNumber"
      />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h3 class="afm-label-text">Address</h3>
      <textarea
        [(ngModel)]="user.address"
        [rows]="5"
        [cols]="50"
        pInputTextarea
        [autoResize]="true"
        style="max-width: 90%"
      ></textarea>
    </div>

    <div class="col mt-md-0 mt-4">
      <h3 class="afm-label-text">Zip Code</h3>
      <p-inputNumber
        class="input-box"
        [style]="{ 'max-width': '100%' }"
        [inputStyle]="{ 'max-width': '100%' }"
        [(ngModel)]="user.zipCode"
        mode="decimal"
        inputId="withoutgrouping"
        [useGrouping]="false"
      >
      </p-inputNumber>
    </div>
  </div>

  <div class="row mt-4" style="text-align: center">
    <div class="col">
      <app-afm-button
        label="Add"
        (click)="addUser()"
        [disable]="disableAddButton()"
      ></app-afm-button>
    </div>
  </div>
</div>
