<div class="container-fluid">
  <div class="row justify-content-center" style="height: 250px">
    <div class="align-self-center col-auto">
      <app-afm-button
        dataid="shareCurrentLocation"
        label="Share Current Location"
        (buttonClicked)="shareLocationButtonClick()"
      ></app-afm-button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div
      id="futureEvents"
      class="col-auto"
      style="cursor: pointer"
      (click)="openFutureEventsPage()"
    >
      <h2 class="afm-heading-text">Future Events</h2>
    </div>
    <div
      class="col-auto"
      style="cursor: pointer"
      (click)="openFutureEventsPage()"
    >
      <fa-icon [icon]="faEdit"></fa-icon>
    </div>
  </div>

  <app-afm-blur-background>
    <div class="row justify-content-center">
      <div class="col-auto">
        <div *ngIf="futureEvents.length == 0">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <div *ngIf="futureEvents.length > 0">
          <app-afm-image-carousel
            [data]="futureEvents"
            (imageClick)="futureEventClicked($event)"
            [displayIcon]="true"
            [faIcon]="faEdit"
          ></app-afm-image-carousel>
        </div>
      </div>
    </div>
  </app-afm-blur-background>

  <br />
  <br />

  <div class="row justify-content-center">
    <div
      class="col-auto"
      style="cursor: pointer"
      (click)="openPastEventsPage()"
    >
      <h2 class="afm-heading-text">Past Events</h2>
    </div>
    <div
      id="pastEvents"
      class="col-auto"
      style="cursor: pointer"
      (click)="openPastEventsPage()"
    >
      <fa-icon [icon]="faEdit"></fa-icon>
    </div>
  </div>

  <app-afm-blur-background>
    <div class="row justify-content-center">
      <div class="col-auto">
        <div *ngIf="pastEvents.length == 0">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <div *ngIf="pastEvents.length > 0">
          <app-afm-image-carousel
            [data]="pastEvents"
            (imageClick)="pastEventClicked($event)"
            [displayIcon]="true"
            [faIcon]="faEdit"
          ></app-afm-image-carousel>
        </div>
      </div>
    </div>
  </app-afm-blur-background>

  <br />
  <br />

  <div class="row justify-content-center">
    <div class="col-auto" style="cursor: pointer" (click)="openGalleryPage()">
      <h2 class="afm-heading-text">Gallery</h2>
    </div>
    <div class="col-auto" style="cursor: pointer" (click)="openGalleryPage()">
      <fa-icon [icon]="faEdit"></fa-icon>
    </div>
  </div>

  <app-afm-blur-background>
    <div class="row justify-content-center">
      <div class="col-auto">
        <div *ngIf="galleryImages.length == 0">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <div *ngIf="galleryImages.length > 0">
          <app-afm-image-carousel
            [data]="galleryImages"
            [displayIcon]="true"
            (imageClick)="deleteGalleryImage($event)"
            [faIcon]="faTrash"
          ></app-afm-image-carousel>
        </div>
      </div>
    </div>
  </app-afm-blur-background>
</div>

<p-toast></p-toast>
