<div class="container">
  <div class="row justify-content-center">
    <div class="align-self-center col-auto">
      <app-afm-image
        [src]="futureEvent.Url ?? ''"
        maxWidth="100%"
      ></app-afm-image>
    </div>
  </div>

  <div class="row">
    <h4 class="afm-label-text">Name : {{ futureEvent.Name }}</h4>
  </div>

  <div class="row">
    <h4 class="afm-label-text">Date : {{ eventDate }}</h4>
  </div>

  <div class="row">
    <h4 class="afm-label-text">Time : {{ futureEvent.EventTimeSlot }}</h4>
  </div>

  <div class="row">
    <h4 class="afm-label-text">Message : {{ futureEvent.Message }}</h4>
  </div>

  <div class="row">
    <h4 class="afm-label-text">Address : {{ futureEvent.Address }}</h4>
  </div>

  <div class="row">
    <h4 class="afm-label-text">Zipcode : {{ futureEvent.Zipcode }}</h4>
  </div>
</div>
