@import "../../../../styles.scss";

.afm-header-background {
  background-color: black;
  height: 25px;
  text-align: center;
}
.afm-header-text {
  @extend .afm-font-family-logo;
  color: white;
  font-size: 14px;
}
.img-logo {
  cursor: pointer;
  height: 40px;
}
::ng-deep .p-menubar {
  height: 50px;

  @media (min-width: 961px) {
    p-menubarsub {
      position: absolute;
      right: 40px;
    }
  }
}
::ng-deep .p-menuitem-text {
  @extend .afm-font-family;
}
