<div class="root-div">
  <h2 class="afm-heading-text text-align-center">Request RV</h2>

  <div class="form-external-box">
    <app-afm-blur-background>
      <div class="container" class="form-internal-box">
        <div class="row mt-4">
          <div class="col">
            <h5 class="afm-label-text">First Name</h5>
            <input id="firstName" type="text" pInputText [(ngModel)]="rvRequest.firstName" />
          </div>

          <div class="col mt-sm-0 mt-4">
            <h5 class="afm-label-text">Last Name</h5>
            <input id="lastName" type="text" pInputText [(ngModel)]="rvRequest.lastName" />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12 col-sm-6">
            <h3 class="afm-label-text">No Of People</h3>
            <p-inputNumber
              [(ngModel)]="rvRequest.numberOfPeople"
              mode="decimal"
              inputId="numberOfPeople"
              [useGrouping]="false"
            >
            </p-inputNumber>
          </div>

          <div class="col-12 col-sm-6 mt-sm-0 mt-4">
            <h3 class="afm-label-text">Date</h3>
            <p-calendar
              [(ngModel)]="bookingDate"
              [showIcon]="true"
              inputId="bookingDate"
              [minDate]="todayDate"
              (onSelect)="dateSelected($event)"
            ></p-calendar>
          </div>
        </div>

        <div class="row mt-4">
          <h5 class="afm-label-text">Time Slot</h5>
        </div>

        <div class="row mt-4">
          <div class="col">
            <span class="p-float-label">
              <p-calendar
                [(ngModel)]="fromTime"
                [timeOnly]="true"
                [hourFormat]="'24'"
                inputId="fromTime"
              ></p-calendar>
              <label for="fromTime">From Time</label>
            </span>
          </div>
          <div class="col">
            <span class="p-float-label">
              <p-calendar
                id="toime"
                [(ngModel)]="toTime"
                [timeOnly]="true"
                [hourFormat]="'24'"
                [minDate]="fromTime"
                inputId="toTime"
              ></p-calendar>
              <label for="toime">To Time</label>
            </span>
          </div>
        </div>
        <div class="row" *ngIf="disabledSlots">
          <div class="row">
            <div class="col">
              <label>Unavailable Slots</label>
            </div>
          </div>
          <div class="row">
            <label>{{ disabledSlots }}</label>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Address</h3>
            <textarea
              id="address"            
              [(ngModel)]="rvRequest.address"
              [rows]="5"
              [cols]="80"
              pInputTextarea
              [autoResize]="true"
              style="max-width: 90%"
            ></textarea>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Zip Code</h3>
            <p-inputNumber
              [ngClass]="{ 'ng-invalid ng-dirty': invalidZipCode }"
              [(ngModel)]="rvRequest.zipCode"
              mode="decimal"
              inputId="zipCode"
              [useGrouping]="false"
              placeholder="XXXXX"
              (onBlur)="validateZipCode()"
            >
            </p-inputNumber>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h5 class="afm-label-text">Email Id</h5>
            <input
              id="emailAddress"
              [ngClass]="{ 'ng-invalid ng-dirty': invalidEmail }"
              type="text"
              pInputText
              [(ngModel)]="rvRequest.emailId"
              (blur)="validateEmailId()"
            />
          </div>

          <div class="col mt-sm-0 mt-4">
            <h5 class="afm-label-text">Mobile Number</h5>
            <p-inputNumber
              [ngClass]="{ 'ng-invalid ng-dirty': invalidPhoneNumber }"
              [(ngModel)]="rvRequest.mobileNumber"
              mode="decimal"
              inputId="mobileNumber"
              [useGrouping]="false"
              placeholder="XXX-XXX-XXXX"
              (onBlur)="validatePhoneNumber()"
            >
            </p-inputNumber>
          </div>
        </div>

        <div class="row mt-4"></div>

        <div class="row mt-4 text-align-center">
          <app-afm-button
            dataid="submit"
            label="Submit"
            (buttonClicked)="submitClicked()"
            [disable]="disableSubmit()"
          ></app-afm-button>
        </div>
      </div>
    </app-afm-blur-background>
  </div>
</div>

<p-toast></p-toast>

<app-loading *ngIf="loading"></app-loading>
