<div style="margin: 10px">
  <div class="row">
    <h4>Sign in</h4>
  </div>
  <div class="row p-fluid grid">
    <div class="col-sm-12 col-md-6">
      <span class="p-float-label">
        <input type="text" id="email" pInputText [(ngModel)]="email" />
        <label for="email">Enter email</label>
      </span>
    </div>

    <div class="col-sm-12 col-md-6">
      <span class="p-float-label">
        <input type="text" id="password" pInputText [(ngModel)]="password" />
        <label for="password">Password</label>
      </span>
    </div>
  </div>
</div>
