<div #parentContainer>
  <div class="container-fluid" *ngIf="currentEvent; else altertnateCurrent">
    <div class="row justify-content-center mb-5">
      <div class="align-self-center col-auto" style="padding: 0">
        <div class="map-display">
          <app-current-location
            [latitude]="+currentEvent.Latitude"
            [longitude]="+currentEvent.Longitude"
          ></app-current-location>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top: 25px">
        <div class="align-self-center col-auto">
          <app-afm-button
            label="Book now"
            (buttonClicked)="bookNowClicked()"
          ></app-afm-button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #altertnateCurrent>
    <div class="container-fluid">
      <div class="row mt-5 mb-5" style="text-align: center">
        <div class="col">
          <span>There is no current Event for the RV</span>
        </div>
      </div>
    </div>
  </ng-template>

  <div id="futureEventsDisplay" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2 class="afm-heading-text">Future Events</h2>
      </div>
    </div>

    <app-afm-blur-background>
      <div class="row justify-content-center">
        <div class="col-auto">
          <div *ngIf="futureEvents.length == 0">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <div *ngIf="futureEvents.length > 0">
            <app-afm-image-carousel
              divId="future-event"
              [data]="futureEvents"
              (imageClick)="futureEventClicked($event)"
              [displayIcon]="false"
            ></app-afm-image-carousel>
          </div>
        </div>
      </div>
    </app-afm-blur-background>
  </div>

  <div id="pastEventsDisplay" class="container-fluid" style="margin-top: 80px">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2 class="afm-heading-text">Past Events</h2>
      </div>
    </div>

    <app-afm-blur-background>
      <div class="row justify-content-center">
        <div class="col-auto">
          <div *ngIf="pastEvents.length == 0">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <div *ngIf="pastEvents.length > 0">
            <app-afm-image-carousel
              [data]="pastEvents"
              (imageClick)="pastEventClicked($event)"
              [displayIcon]="false"
            ></app-afm-image-carousel>
          </div>
        </div>
      </div>
    </app-afm-blur-background>
  </div>

  <div id="galleryDisplay" class="container-fluid" style="margin-top: 80px">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2 class="afm-heading-text">Gallery</h2>
      </div>
    </div>

    <app-afm-blur-background>
      <div class="container-fluid">
        <swiper
          [slidesPerView]="1"
          [navigation]="true"
          [pagination]="{
            dynamicBullets: true
          }"
          [centeredSlides]="true"
          [keyboard]="{
            enabled: true
          }"
          [autoplay]="{
            delay: 3000,
            disableOnInteraction: true
          }"
          class="my-swiper"
        >
          <ng-template swiperSlide *ngFor="let galleryImage of galleryImages">
            <div class="swiper-slide-container">
              <p-image
                imageClass="gallery-image"
                [src]="galleryImage.Url ?? ''"
                alt="Image"
                [height]="imageHeight"
              ></p-image>
            </div>
          </ng-template>
        </swiper>
      </div>
    </app-afm-blur-background>
  </div>
</div>

<p-toast></p-toast>
