<div #parentContainer>
  <div class="container-fluid" *ngIf="currentEvent">
    <div class="row justify-content-center">
      <div class="align-self-center col-auto" style="padding: 0">
        <div class="map-display">
          <app-current-location
            [latitude]="+currentEvent.Latitude"
            [longitude]="+currentEvent.Longitude"
          ></app-current-location>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top: 25px">
        <div class="align-self-center col-auto">
          <app-afm-button
            label="Book now"
            (click)="bookNowClicked()"
          ></app-afm-button>
        </div>
      </div>
    </div>
  </div>

  <div class="gallery-corousel" id="futureEventsDisplay">
    <app-afm-blur-background>
      <div style="padding-top: 10px; padding-bottom: 10px">
        <h2 class="afm-heading-text">Future Events</h2>
      </div>
      <div class="container-fluid">
        <swiper
          [slidesPerView]="1"
          [navigation]="true"
          [pagination]="{
            dynamicBullets: true
          }"
          [centeredSlides]="true"
          [keyboard]="{
            enabled: true
          }"
          [autoplay]="{
            delay: 3000,
            disableOnInteraction: false
          }"
          class="my-swiper"
        >
          <ng-template swiperSlide *ngFor="let futureEvent of futureEvents">
            <div class="swiper-slide-container">
              <div>
                <h4 style="color: black">
                  {{ futureEvent.Name }}
                </h4>
                <p style="margin-bottom: 2.5rem; color: black">
                  {{ futureEvent.Message }}
                </p>
              </div>
              <img class="gallery-image" [src]="futureEvent.Url" />
              <p style="margin-bottom: 2.5rem; color: white">
                {{ futureEvent.Message }}
              </p>
            </div>
          </ng-template>
        </swiper>
      </div>
      <br />
    </app-afm-blur-background>
  </div>

  <div class="gallery-corousel" id="pastEventsDisplay">
    <app-afm-blur-background>
      <div style="padding-top: 10px; padding-bottom: 10px">
        <h2 class="afm-heading-text">Past Events</h2>
      </div>
      <div class="container-fluid">
        <swiper
          [slidesPerView]="1"
          [navigation]="true"
          [pagination]="{
            dynamicBullets: true
          }"
          [centeredSlides]="true"
          [keyboard]="{
            enabled: true
          }"
          [autoplay]="{
            delay: 3000,
            disableOnInteraction: false
          }"
          class="my-swiper"
        >
          <ng-template swiperSlide *ngFor="let pastEvent of pastEvents">
            <div class="swiper-slide-container">
              <div>
                <h4 style="color: black">
                  {{ pastEvent.Name }}
                </h4>
                <p style="margin-bottom: 2.5rem; color: black">
                  {{ pastEvent.Message }}
                </p>
              </div>
              <img class="gallery-image" [src]="pastEvent.Url" />
              <p style="margin-bottom: 2.5rem; color: white">
                {{ pastEvent.Message }}
              </p>
            </div>
          </ng-template>
        </swiper>
      </div>
      <br />
    </app-afm-blur-background>
  </div>

  <div class="gallery-corousel" id="galleryDisplay">
    <app-afm-blur-background>
      <div style="padding-top: 10px; padding-bottom: 10px">
        <h2 class="afm-heading-text">Gallery</h2>
      </div>
      <div class="container-fluid">
        <swiper
          [slidesPerView]="1"
          [navigation]="true"
          [pagination]="{
            dynamicBullets: true
          }"
          [centeredSlides]="true"
          [keyboard]="{
            enabled: true
          }"
          [autoplay]="{
            delay: 3000,
            disableOnInteraction: false
          }"
          class="my-swiper"
        >
          <ng-template swiperSlide *ngFor="let galleryImage of galleryImages">
            <div class="swiper-slide-container">
              <img class="gallery-image" [src]="galleryImage.Url" />
            </div>
          </ng-template>
        </swiper>
      </div>
      <br />
    </app-afm-blur-background>
  </div>
</div>

<p-toast></p-toast>
