@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

.map-display {
  width: 100vw;
  max-width: 500px;
  margin-top: 25px;
}
::ng-deep .ui-panel-images {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gallery-corousel {
  margin-top: 30px;
  text-align: center;
}
.gallery-image {
  width: 100%;
  // height: 500px;
  object-fit: contain;
}
.my-swiper {
  width: 100%;
  height: 500px;
  // object-fit: cover;
}
