<div class="container-fluid">
  <div class="container">
    <div
      class="row row-cols-auto g-0 justify-content-center mt-5"
      style="text-align: center"
    >
      <div class="col" style="width: 230px">
        <a href="https://www.architectformen.com/">
          <span class="footer-links">© ARCHITECT FOR MEN 2022</span>
        </a>
      </div>
      <div class="col" style="width: 60px">
        <a href="https://www.architectformen.com/collections/frontpage">
          <span class="footer-links">SHOP</span>
        </a>
      </div>
      <div class="col" style="width: 120px">
        <a href="https://www.architectformen.com/pages/barbershop">
          <span class="footer-links">BARBERSHOP</span>
        </a>
      </div>
      <div class="col" style="width: 100px">
        <a
          href="https://www.architectformen.com/collections/frontpage/products/architect-beard-oil"
        >
          <span class="footer-links">BEARD OIL</span>
        </a>
      </div>
      <div class="col" style="width: 110px">
        <a
          href="https://www.architectformen.com/collections/frontpage/products/structure-forming-cream"
        >
          <span class="footer-links">STRUCTURE</span>
        </a>
      </div>
      <div class="col" style="width: 100px">
        <a href="https://www.architectformen.com/pages/carriers">
          <span class="footer-links">CARRIERS</span>
        </a>
      </div>
      <div class="col" style="width: 110px">
        <a href="https://www.architectformen.com/pages/groomsmenspecial">
          <span class="footer-links">GROOMSMEN</span>
        </a>
      </div>
      <div class="col" style="width: 110px">
        <a href="https://www.architectformen.com/community/contact">
          <span class="footer-links">CONTACT US</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col" style="max-width: 70px">
        <i class="fa fa-cc-amex" style="font-size: 30px"></i>
      </div>
      <div class="col" style="max-width: 70px">
        <img
          src="../../../assets/icons8-apple-pay-96.png"
          alt="image"
          width="30px"
        />
      </div>

      <div class="col" style="max-width: 70px">
        <i class="fa fa-cc-diners-club" style="font-size: 30px"></i>
      </div>
      <div class="col" style="max-width: 70px">
        <i class="fa fa-cc-discover" style="font-size: 30px"></i>
      </div>
      <div class="col" style="max-width: 70px">
        <i class="fa fa-cc-mastercard" style="font-size: 30px"></i>
      </div>
      <div class="col" style="max-width: 70px">
        <i class="fa fa-cc-paypal" style="font-size: 30px"></i>
      </div>
      <div class="col" style="max-width: 70px">
        <i class="fa fa-cc-visa" style="font-size: 30px"></i>
      </div>
    </div>
  </div>
</div>
