<div class="root-div">
  <h2 class="afm-heading-text" style="text-align: center">Add Future Event</h2>

  <div class="form-external-box">
    <div class="container">
      <app-afm-blur-background>
        <div class="button-alignment row g-4">
          <div class="col" *ngIf="uploadedFiles && uploadedFiles.length > 0">
            <app-afm-image [src]="uploadedFiles[0].objectURL"></app-afm-image>
          </div>
          <div class="col align-self-center">
            <p-fileUpload
              #fileUpload
              name="myfile[]"
              mode="basic"
              (uploadHandler)="myUploader($event)"
              (onUpload)="myUploader($event)"
              [customUpload]="true"
              [auto]="true"
              accept="image/*"
              [maxFileSize]="1000000"
              chooseLabel="Upload Image"
            >
            </p-fileUpload>
          </div>
        </div>

        <!-- <app-afm-button label="Remove" (click)="clear()"></app-afm-button> -->

        <br />
        <br />

        <div class="row" style="text-align: center">
          <div class="col">
            <h5 class="afm-label-text">Description</h5>
            <textarea
              [rows]="5"
              [cols]="80"
              pInputTextarea
              [autoResize]="true"
              style="max-width: 90%"
            ></textarea>
          </div>
        </div>

        <br />
        <br />

        <div class="row" style="text-align: center">
          <app-afm-button
            label="Submit"
            (click)="addNewFutureEvent()"
          ></app-afm-button>
        </div>

        <br />
        <br />
      </app-afm-blur-background>
    </div>

    <br />
    <br />
  </div>
</div>
