<div class="root-div">
  <h2 class="afm-heading-text text-align-center">Add Future Event</h2>

  <div class="form-external-box">
    <app-afm-blur-background>
      <div class="container" class="form-internal-box">
        <div class="row text-align-center" *ngIf="uploadedFiles">
          <div class="col">
            <app-afm-image [src]="uploadedFiles.objectURL"></app-afm-image>
          </div>
          <div class="col align-self-center mt-4 mt-sm-0">
            <app-afm-button label="Remove" (click)="clear()"></app-afm-button>
          </div>
        </div>

        <div class="row text-align-center mt-4">
          <div class="col-lg-12 align-self-center">
            <p-fileUpload
              #fileUpload
              name="myfile[]"
              mode="basic"
              (uploadHandler)="myUploader($event)"
              (onUpload)="myUploader($event)"
              [customUpload]="true"
              [auto]="true"
              accept="image/*"
              chooseLabel="Upload Image"
            >
            </p-fileUpload>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h5 class="afm-label-text">Event Name</h5>
            <input type="text" pInputText [(ngModel)]="eventName" />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Event Date</h3>
            <p-calendar
              [(ngModel)]="futureEventData"
              [showIcon]="true"
              inputId="icon"
              [minDate]="tomorrowDate"
            ></p-calendar>
          </div>
        </div>

        <div class="row mt-4">
          <h5 class="afm-label-text">Time Slot</h5>
        </div>

        <div class="row mt-4">
          <div class="col">
            <span class="p-float-label">
              <p-calendar
                id="fromTime"
                [(ngModel)]="fromTime"
                [timeOnly]="true"
                [hourFormat]="'24'"
                inputId="timeonly"
              ></p-calendar>
              <label for="fromTime">From Time</label>
            </span>
          </div>
          <div class="col">
            <span class="p-float-label">
              <p-calendar
                id="toime"
                [(ngModel)]="toTime"
                [timeOnly]="true"
                [hourFormat]="'24'"
                [minDate]="fromTime"
                inputId="timeonly"
              ></p-calendar>
              <label for="toime">To Time</label>
            </span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h5 class="afm-label-text">Message</h5>
            <textarea
              [(ngModel)]="message"
              [rows]="5"
              [cols]="80"
              pInputTextarea
              [autoResize]="true"
              style="max-width: 90%"
            ></textarea>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Event Type</h3>
            <p-dropdown
              [options]="eventTypes"
              [(ngModel)]="selectedEvent"
              placeholder="Select"
              optionLabel="Name"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Address</h3>
            <textarea
              [(ngModel)]="address"
              [rows]="5"
              [cols]="80"
              pInputTextarea
              [autoResize]="true"
              style="max-width: 90%"
            ></textarea>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Zip Code</h3>
            <p-inputNumber
              [(ngModel)]="zipCode"
              mode="decimal"
              inputId="withoutgrouping"
              [useGrouping]="false"
            >
            </p-inputNumber>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Trigger Instagram</h3>
          </div>
          <div class="col">
            <p-inputSwitch [(ngModel)]="instagramTrigger"></p-inputSwitch>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Trigger Facebook</h3>
          </div>
          <div class="col">
            <p-inputSwitch [(ngModel)]="facebookTrigger"></p-inputSwitch>
          </div>
        </div>

        <div class="row mt-4 text-align-center">
          <app-afm-button
            label="Submit"
            (click)="submitClicked()"
            [disable]="disableSubmit()"
          ></app-afm-button>
        </div>
      </div>
    </app-afm-blur-background>
  </div>
</div>
