.afm-header-background {
  background-color: black;
  height: 25px;
  text-align: center;
}
.afm-header-text {
  color: white;
  font-family: ui-monospace;
  font-size: 14px;
}
.img-logo {
  cursor: pointer;
  height: 40px;
}
.afm-header-number {
  height: 15px;
  font-size: 10px;
  text-align: center;
}
.test {
  right: 0;
}
::ng-deep .p-menubar {
  height: 50px;

  p-menubarsub {
    position: absolute;
    right: 40px;
  }
}
