@import "../../../../styles.scss";

.afm-header-background {
  background-color: black;
  height: 30px;
  text-align: center;
}
.afm-header-text {
  color: rgba(255, 255, 255, 0.826);
  @extend .afm-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7em;
}
.img-logo {
  cursor: pointer;
  height: 50px;
}
.afm-header-number {
  height: 22px;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  @extend .afm-font-family;
  color: #000;
  font-weight: 400;
}
::ng-deep .p-menubar {
  height: 80px;
  border-radius: 0;
  @media (min-width: 961px) {
    p-menubarsub {
      position: absolute;
      right: 40px;
    }
  }

  // Used for aligning menu bar kebab to the right in mobile view
  a.p-menubar-button {
    order: 1;
  }
}
::ng-deep .p-menuitem-text {
  @extend .afm-font-family;
  display: block;
  margin-left: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
}
