<div class="container signin-box-center">
  <div class="row" class="signin-box">
    <div class="p-fluid grid justify-content-center">
      <div class="row">
        <h4>Sign in</h4>
      </div>

      <div class="row mt-4">
        <div class="col">
          <span class="p-float-label">
            <input type="text" id="email" pInputText [(ngModel)]="email" />
            <label for="email">Enter email</label>
          </span>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <span class="p-float-label">
            <p-password
              id="password"
              [(ngModel)]="password"
              [feedback]="false"
              [toggleMask]="true"
              (keyup.enter)="passwordEntered()"
            ></p-password>
            <label for="password">Password</label>
          </span>
        </div>
      </div>

      <div class="row mt-4 justify-content-end">
        <div class="col-6">
          <a routerLink="/forgot-password" id="forgot-password"
            >Forgot Password?</a
          >
        </div>
      </div>

      <div class="row mt-5">
        <app-afm-button
          dataid="loginButton"
          label="Login"
          (buttonClicked)="loginClicked()"
        ></app-afm-button>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
