<div class="root-div">
  <h2 class="afm-heading-text" style="text-align: center">
    Share Current Location
  </h2>

  <div class="form-external-box">
    <app-afm-blur-background>
      <div class="container" class="form-internal-box">
        <div class="row">
          <div class="col">
            <h5 class="afm-label-text">Event Name</h5>
            <input type="text" pInputText [(ngModel)]="eventName" />
          </div>
        </div>

        <div class="row mt-4">
          <h5 class="afm-label-text">Time Slot</h5>
        </div>

        <div class="row mt-4">
          <div class="col">
            <span class="p-float-label">
              <p-calendar
                id="fromTime"
                [(ngModel)]="fromTime"
                [timeOnly]="true"
                [hourFormat]="'24'"
                inputId="timeonly"
              ></p-calendar>
              <label for="fromTime">From Time</label>
            </span>
          </div>
          <div class="col">
            <span class="p-float-label">
              <p-calendar
                id="toime"
                [(ngModel)]="toTime"
                [timeOnly]="true"
                [hourFormat]="'24'"
                [minDate]="fromTime"
                inputId="timeonly"
              ></p-calendar>
              <label for="toime">To Time</label>
            </span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h5 class="afm-label-text">Message</h5>
            <textarea
              [(ngModel)]="message"
              [rows]="5"
              [cols]="70"
              pInputTextarea
              [autoResize]="true"
              style="max-width: 90%"
            ></textarea>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12 col-md-6">
            <h3 class="afm-label-text">Event Type</h3>
            <p-dropdown
              [options]="eventTypes"
              [(ngModel)]="selectedEvent"
              placeholder="Select"
              optionLabel="Name"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Address</h3>
            <textarea
              [(ngModel)]="address"
              [rows]="5"
              [cols]="80"
              pInputTextarea
              [autoResize]="true"
              style="max-width: 90%"
            ></textarea>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Zip Code</h3>
            <p-inputNumber
              [ngClass]="{ 'ng-invalid ng-dirty': invalidZipCode }"
              [(ngModel)]="zipCode"
              mode="decimal"
              inputId="withoutgrouping"
              [useGrouping]="false"
              placeholder="XXXXX"
              (onBlur)="validateZipCode()"
            >
            </p-inputNumber>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Trigger Email</h3>
          </div>
          <div class="col">
            <p-inputSwitch [(ngModel)]="emailTrigger"></p-inputSwitch>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h3 class="afm-label-text">Trigger SMS</h3>
          </div>
          <div class="col">
            <p-inputSwitch [(ngModel)]="smsTrigger"></p-inputSwitch>
          </div>
        </div>

        <br />
        <br />

        <div class="row" style="text-align: center">
          <app-afm-button
            label="Share Location"
            (click)="shareLocationClicked()"
            [disable]="disableSubmit()"
          ></app-afm-button>
        </div>
      </div>
    </app-afm-blur-background>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>
