/* You can add global styles to this file, and also import other style files */
.afm-heading-text {
  font-family: "Montserrat,Helvetica Neue,Arial,sans-serif";
}
.afm-label-text {
  font-family: "Montserrat,Helvetica Neue,Arial,sans-serif";
  font-size: 24px;
}
