<div
  class="container"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <div class="row" class="reset-password-box">
    <div class="p-fluid grid justify-content-center">
      <div class="row text-center">
        <h5>Reset Password</h5>
      </div>

      <div class="row mt-5">
        <div class="col">
          <span class="p-float-label">
            <input
              type="text"
              id="email"
              pInputText
              [(ngModel)]="email"
              disabled="true"
            />
            <label for="email">Email</label>
          </span>
        </div>
      </div>

      <div class="row mt-4 mt-md-4">
        <div class="col">
          <span class="p-float-label">
            <p-password
              id="password"
              [(ngModel)]="password"
              [feedback]="false"
              [toggleMask]="true"
            ></p-password>
            <label for="password">Password</label>
          </span>
        </div>
      </div>

      <div class="row mt-4 mt-md-4">
        <div class="col">
          <span class="p-float-label">
            <p-password
              id="confirmPassword"
              [(ngModel)]="confirmPassword"
              [feedback]="false"
              [toggleMask]="true"
            ></p-password>
            <label for="confirmPassword">Confirm Password</label>
          </span>
        </div>
      </div>

      <div class="row mt-5">
        <app-afm-button
          label="Reset"
          (click)="resetPassword()"
        ></app-afm-button>
      </div>
    </div>
  </div>
</div>
