.root-div {
  margin-top: 40px;
}
.button-alignment {
  text-align: center;
  margin-top: 50px;
}
.icon-position {
  position: absolute;
  margin-top: -20px;
  cursor: pointer;
}
.message-break {
  text-align: center;
  overflow-wrap: break-word;
  max-width: 300px;
}
