<div class="container">
  <div class="row mb-3">
    <input
      type="text"
      class="my-search-box"
      pInputText
      (keydown.enter)="$event.preventDefault()"
      placeholder="Search Location"
      type="text"
      #search
    />
  </div>
  <div class="row">
    <google-map
      #myGoogleMap
      height="450px"
      width="100%"
      [center]="center"
      [options]="options"
      ><map-marker
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapDragend)="updateMarkerLocation($event)"
      >
      </map-marker
    ></google-map>
  </div>
  <div class="row mt-5" style="text-align: center">
    <label class="afm-label-text">Address : {{ address }} </label>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <app-afm-button
        label="Update Location"
        (buttonClicked)="updateLocation()"
      ></app-afm-button>
    </div>
  </div>
</div>
