.my-search-box {
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  width: 60%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-left: 14px;
}
::ng-deep .pac-container {
  z-index: 10000 !important;
}
