.image-item {
  .image-item-content {
    min-height: 300px;
    border: 2px solid var(--surface-d);
    border-radius: 20px;
    margin: 0.3rem;
    text-align: center;
    padding-top: 10px;
  }
}
::ng-deep .p-hide-paginator {
  .p-carousel-indicators {
    display: none !important;
  }
}
.message-break {
  text-align: center;
  overflow-wrap: break-word;
  max-width: 400px;
}
.event-name {
  @extend .message-break;
  font-weight: 900;
  letter-spacing: 1px;
}
.border-card {
  border-style: solid;
  border: 2px;
}
.image-div {
  padding: 0;
  height: 180px;
}
