<app-afm-blur-background>
  <div class="carousal-border">
    <p-carousel
      [value]="data"
      [numVisible]="noOfImages"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="3000"
      ngClass="p-hide-paginator"
    >
      <ng-template let-image pTemplate="item">
        <div style="border-style: solid; border: 2px">
          <div
            class="image-item"
            (click)="imageClicked(image)"
            style="cursor: pointer"
          >
            <div class="image-item-content">
              <div class="mb-3">
                <div class="row justify-content-center" *ngIf="image.src">
                  <div class="col-auto">
                    <p-image
                      [src]="image.src"
                      alt="Image"
                      width="200"
                    ></p-image>
                  </div>
                  <div class="col-auto" *ngIf="displayIcon">
                    <fa-icon [icon]="faIcon"></fa-icon>
                  </div>
                </div>
              </div>
              <div>
                <h4 class="afm-label-text">{{ image.text }}</h4>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</app-afm-blur-background>
