.image-item {
  .image-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .image-carousel {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
.carousal-border {
  padding: 30px;
}
// :host ::ng-deep .p-carousel-item {
//   border-style: solid;
//   border-radius: 10px;
//   border-color: lightgrey;
// }
