<app-afm-blur-background>
  <div class="carousal-border">
    <p-carousel
      [value]="data"
      [numVisible]="noOfImages"
      [numScroll]="1"
      [circular]="true"
      ngClass="p-hide-paginator"
    >
      <ng-template let-image pTemplate="item">
        <div style="border-style: solid; border: 2px">
          <div
            class="image-item"
            (click)="imageClicked(image)"
            style="cursor: pointer"
          >
            <div class="image-item-content">
              <div class="mb-3">
                <div class="container">
                  <div class="row justify-content-center" *ngIf="image.blob">
                    <div class="col-10">
                      <p-image
                        src="data:image/png;base64,{{ image.blob }}"
                        alt="Image"
                        width="200"
                      ></p-image>
                    </div>
                    <div class="col-2">
                      <fa-icon [icon]="faIcon"></fa-icon>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <h4 class="afm-label-text">{{ image.message }}</h4>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</app-afm-blur-background>
