<div class="d-flex align-items-center justify-content-center">
  <div class="row" class="signin-box">
    <div class="p-fluid grid justify-content-center">
      <div class="row">
        <h4>Sign in</h4>
      </div>
      <div class="col-12 mt-3">
        <span class="p-float-label">
          <input type="text" id="email" pInputText [(ngModel)]="email" />
          <label for="email">Enter email</label>
        </span>
      </div>

      <div class="col-12 mt-3 mt-md-4">
        <span class="p-float-label">
          <p-password
            id="password"
            [(ngModel)]="password"
            [feedback]="false"
            [toggleMask]="true"
          ></p-password>
          <label for="password">Password</label>
        </span>
      </div>

      <div class="row mt-5">
        <p-button label="Login" (onClick)="loginClicked()"></p-button>
      </div>
    </div>
  </div>
</div>
